#btn_div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}


#btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100px;

}